@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bellefair';
    src: url('../public/fonts/Bellefair-Regular.ttf')
}
@font-face {
    font-family: 'BarlowCondensed';
    src: url('../public/fonts/BarlowCondensed-Regular.ttf')
}